<footer class="bg-gray-200 text-black py-1 font-poppins font-semibold">
    <div class="max-w-9xl mx-auto px-4 grid grid-cols-1 md:grid-cols-4 gap-8 text-sm">
      <!-- Nosotros -->
      <div class="mb-8">
        <h3 class="font-semibold border-l-2 border-gray-400 pl-2 mb-2 text-lg">Nosotros</h3>
        <ul class="space-y-1 rounded-lg">
          <li><a href="#" class="hover:underline">Quiénes somos</a></li>
          <li><a href="#" class="hover:underline">Políticas de privacidad</a></li>
          <li><a href="#" class="hover:underline">Términos y condiciones</a></li>
          <li><a href="#" class="hover:underline">Ventas corporativas</a></li>
        </ul>
      </div>
  
      <!-- Ayuda -->
      <div>
        <h3 class="font-semibold border-l-2 border-gray-400 pl-2 mb-2 text-lg">Ayuda</h3>
        <ul class="space-y-1 rounded-lg">
          <li><a href="#" class="hover:underline">Centro de ayuda</a></li>
          <li><a href="#" class="hover:underline">Seguimiento de mi compra</a></li>
          <li><a href="#" class="hover:underline">Formulario de contacto</a></li>
        </ul>
      </div>
  
      <!-- Foro -->
      <div>
        <h3 class="font-semibold border-l-2 border-gray-400 pl-2 mb-2 text-lg">Foro</h3>
        <ul class="space-y-1 rounded-lg">
          <li><a href="#" class="hover:underline text-lg">Preguntas frecuentes</a></li>
        </ul>
      </div>
  
      <!-- Redes Sociales -->
      <div class="text-center md:text-left">
        <h3 class="font-semibold mb-2 text-lg">Nuestras redes sociales</h3>
        <div class="h-1 w-3/4 bg-gray-300 mx-auto md:mx-0 mb-4 rounded-lg"></div>
        <div class="flex justify-center md:justify-start space-x-4">
            <a href="#"><i class="fab fa-instagram text-pink-500 text-2xl"></i></a>
            <a href="#"><i class="fab fa-facebook text-blue-600 text-2xl"></i></a>
            <a href="#"><i class="fab fa-twitter text-blue-400 text-2xl"></i></a>
            <a href="#"><i class="fab fa-tiktok text-black text-2xl"></i></a>
        </div>
      </div>
  
    </div>
  </footer>
  