<div class="mt-4 flex justify-end items-center space-x-2 my-5">
    <span class="text-gray-700 font-medium">Páginas:</span>
    <a href="?page=prev" class="px-3 py-2 bg-gray-200 text-black hover:bg-blue-400 rounded-full hover:text-white">
        &#8592;
    </a>
    <a href="?page=1" class="px-4 py-2 bg-gray-200 text-black hover:bg-blue-400 rounded-full hover:text-white">1</a>
    <a href="?page=2" class="px-4 py-2 bg-gray-200 text-black hover:bg-blue-400 rounded-full hover:text-white">2</a>
    <a href="?page=3" class="px-4 py-2 bg-gray-200 text-black hover:bg-blue-400 rounded-full hover:text-white">3</a>
    <a href="?page=next" class="px-3 py-2 bg-gray-200 text-black hover:bg-blue-400 rounded-full hover:text-white">
        &#8594;
    </a>
</div>