node_modules
# Python
__pycache__/
*.py[cod]
*.sqlite3

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# Tailwind
theme/node_modules/
theme/static/css/styles.css
theme/package-lock.json

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db